* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.dark-primary {
    background-color: #303F9F;
    color: #fff;
}

.primary {
    background-color: #3F51B5;
    color: #fff;
}

.light-primary {
    background-color: #7986CB;
}

.dark-secondary {
    background-color: #3D5AFE;
    color: #fff;
}

.secondary {
    background-color: #536DFE;
    color: #fff;
}

.light-secondary {
    background-color: #8C9EFF;
    color: #000;
}

.danger {
    background-color: #BD362F;
    color: #fff;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: -webkit-flex;
    display: flex;
    min-height: 100vh;
    -webkit-flex-direction: column;
    flex-direction: column;
}

p {
    line-height: 200%;
}

a {
    text-decoration: none;
    color: #3F51B5;
}

.container {
    padding: 5vh 5vw;
}

.flex-col {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.flex-row {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-col.v-center,
.flex-row.v-center {
    -webkit-align-items: center;
    align-items: center;
}

.flex-col.h-center,
.flex-row.h-center {
    -webkit-justify-content: center;
    justify-content: center;
}

.shadow-bottom {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.23);
}

.btn {
    display: inline-block;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border: none;
    border-radius: 2px;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn:active:before {
    width: 120%;
    padding-top: 120%;
    -webkit-transition: width .2s ease-out, padding-top .2 ease-out;
    transition: width .2s ease-out, padding-top .2s ease-out;
}

.btn:focus {
    outline: none;
}

.btn-raised {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

.btn-flat {
    color: #000;
}

.btn-flat:hover {
    background-color: rgba(0, 0, 0, 0.12);
}

@media only screen and (max-width: 768px) {
    .btn-flat:hover {
        background-color: transparent;
    }
}

.btn-flat:active {
    background-color: rgba(0, 0, 0, 0.23);
}

.btn-fap {
    border-radius: 50%;
    margin: 0;
}

.fap-bottom-container {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.btn.primary:active {
    background-color: #303F9F;
}

.btn.danger:active {
    background-color: #a52b22;
}

.card {
    width: 90vw;
    margin: 5px 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
}

.card img {
    width: inherit;
    max-height: 300px;
}

.card h3 {
    margin-left: 10px;
    margin-right: 10px;
}

@media only screen and (min-width: 768px) {
    .card {
        width: 344px;
        margin: 10px;
    }
}

.form-container {
    padding: 5vh 2vw;
}

.form-group {
    margin-bottom: 10px;
}

.form-group textarea {
    height: 40vh;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    -webkit-align-self: flex-start;
    align-self: flex-start;
}

.form-group div {
    -webkit-align-self: stretch;
    align-self: stretch;
}

.form-group .message {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.form-group .length {
    color: #c8ccd0;
}

.form-group .err {
    -webkit-align-self: flex-start;
    -webkit-flex: 1;
    align-self: flex-start;
    flex: 1;
    margin-right: 10px;
    color: #a94442;
}

.form-control {
    width: 95vw;
    padding: 5px;
    font-size: 20px;
    border: 1px solid #c8ccd0;
    resize: none;
    outline: none;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.form-control:focus {
    border: 1px solid #3F51B5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16), 0 0 10px rgba(0, 0, 0, 0.23);
}

.form-control.txtbtn {
    -webkit-flex: 1;
    flex: 1;
}

.form-control.txtbtn+a {
    margin: 0;
}

.before-footer {
    -webkit-flex: 1;
    flex: 1;
}

.footer {
    padding: 2vh 5vw;
}

.footer div {
    padding: 5px 0;
    text-align: center;
}

.footer a {
    color: inherit;
    padding: 0 10px;
    text-decoration: none;
}

.footer a:visited,
.footer a:focus {
    color: inherit;
    outline: none;
    text-decoration: none;
}